## MongoDB Exercise

### Setup

Import the following documents into a `universities` collection:

```json
[
   {
      "country":"Spain",
      "city":"Salamanca",
      "name":"USAL",
      "location":{
         "type":"Point",
         "coordinates":[
            -5.6722512,
            17,
            40.9607792
         ]
      },
      "students":[
         {
            "year":2014,
            "number":24774
         },
         {
            "year":2015,
            "number":23166
         },
         {
            "year":2016,
            "number":21913
         },
         {
            "year":2017,
            "number":21715
         }
      ]
   },
   {
      "country":"Spain",
      "city":"Salamanca",
      "name":"UPSA",
      "location":{
         "type":"Point",
         "coordinates":[
            -5.6691191,
            17,
            40.9631732
         ]
      },
      "students":[
         {
            "year":2014,
            "number":4788
         },
         {
            "year":2015,
            "number":4821
         },
         {
            "year":2016,
            "number":6550
         },
         {
            "year":2017,
            "number":6125
         }
      ]
   }
]
```

In [1]:
# Install the dependencies
!pip install "pymongo[srv]"

Requirement already satisfied: pymongo[srv] in c:\users\sanja\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (4.6.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\sanja\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pymongo[srv]) (2.6.1)

In [2]:
# Import the required libraries
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

In [3]:
# Get the colab otebook IP
!curl ipecho.net/plain

163.5.23.2

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    10  100    10    0     0     46      0 --:--:-- --:--:-- --:--:--    46
100    10  100    10    0     0     46      0 --:--:-- --:--:-- --:--:--    46

In [ ]:
# Write the Solution

# Hint:
# 1. Connect to the Atlas cluster
# 2. Get the database object
# 3. Get the collection object
# 4. Insert the data into the collection

In [4]:
username = "sanjayadg98"
password = "sana1998"
cluster_url = "cluster0.8efpevm.mongodb.net"

uri = f"mongodb+srv://sanjayadg98:sana1998@cluster0.8efpevm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [5]:
import json


# Get the database object
db = client["UniversitiesData"]

# Get the universities collection object
collection = db["universities"]

# Define the documents to be inserted
documents = [
    {
        "country": "Spain",
        "city": "Salamanca",
        "name": "USAL",
        "location": {
            "type": "Point",
            "coordinates": [-5.6722512, 17, 40.9607792]
        },
        "students": [
            {"year": 2014, "number": 24774},
            {"year": 2015, "number": 23166},
            {"year": 2016, "number": 21913},
            {"year": 2017, "number": 21715}
        ]
    },
    {
        "country": "Spain",
        "city": "Salamanca",
        "name": "UPSA",
        "location": {
            "type": "Point",
            "coordinates": [-5.6691191, 17, 40.9631732]
        },
        "students": [
            {"year": 2014, "number": 4788},
            {"year": 2015, "number": 4821},
            {"year": 2016, "number": 6550},
            {"year": 2017, "number": 6125}
        ]
    }
]

# Insert the documents into the collection
result = collection.insert_many(documents)

# Print the inserted document IDs
print("Inserted document IDs:")
for id in result.inserted_ids:
    print(id)

Inserted document IDs:
6604527a910f69da71f06879
6604527a910f69da71f0687a

Insert the following documents into the `courses` collection:

```json
[
   {
      "university":"USAL",
      "name":"Computer Science",
      "level":"Excellent"
   },
   {
      "university":"USAL",
      "name":"Electronics",
      "level":"Intermediate"
   },
   {
      "university":"USAL",
      "name":"Communication",
      "level":"Excellent"
   }
]
```

In [6]:
# Write the Solution
# Get the database object
db = client["UniversitiesData"]

# Get the courses collection object
collection = db["courses"]

# Define the documents to be inserted
documents = [
    {
        "university": "USAL",
        "name": "Computer Science",
        "level": "Excellent"
    },
    {
        "university": "USAL",
        "name": "Electronics",
        "level": "Intermediate"
    },
    {
        "university": "USAL",
        "name": "Communication",
        "level": "Excellent"
    }
]

# Insert the documents into the collection
result = collection.insert_many(documents)

# Print the inserted document IDs
print("Inserted document IDs:")
for id in result.inserted_ids:
    print(id)

Inserted document IDs:
6604530e910f69da71f0687b
6604530e910f69da71f0687c
6604530e910f69da71f0687d

### MongoDB Aggregations

### Exercise 1 ðŸ’»

Use the `$match` stage to find the `universities` which specify that `Spain` is the value of the field `country`, and `Salamanca` is the value of the field `city`.

In [ ]:
# Write the Solution
# Select the database and collection
db = client["UniversitiesData"]  # Update with your database name
collection = db["universities"]    # Update with your collection name

# Define the criteria for filtering
criteria = {
    "country": "Spain",
    "city": "Salamanca"
}

# Perform the find operation with the criteria
cursor = collection.find(criteria)

# Iterate over the cursor to access the documents
for document in cursor:
    print(document)

### Exercise 2 ðŸ’»

Use the `$project` stage to the following fields from the `universities`:
* `country`
* `city`
* `name`

In [ ]:
# Write the Solution

### Exercise 3 ðŸ’»

Use the [`$group`](https://www.mongodb.com/docs/manual/reference/operator/aggregation/group/) stage to get the number of courses per level in our `courses` collection

In [ ]:
# Write the Solution

The `$group` stage supports certain expressions (operators) allowing users to perform arithmetic, array, boolean and other operations as part of the aggregation pipeline.

| Operator | Meaning |
| -------- | ------- |
| `$count` | Calculates the quantity of documents in the given group. |
| `$max` | Displays the maximum value of a documentâ€™s field in the collection. |
| `$min` | Displays the minimum value of a documentâ€™s field in the collection. |
| `$avg` | Displays the average value of a documentâ€™s field in the collection. |
| `$sum` | Sums up the specified values of all documents in the collection. |
| `$push` | Adds extra values into the array of the resulting document. |

### Exercise 4 ðŸ’»

The `$out` stage is used to store the results of an aggregation in a separate collection. Store the results of the previous aggregation pipeline in a collection called `test_out`.

In [ ]:
# Write the Solution

### Exercise 5 ðŸ’»

Use the `$unwind` stage, get all students information in seprate documents.

In [ ]:
# Write the Solution

### Exercise 6 ðŸ’»

Use the `$sort` stage to sort the results from the last aggregation pipeline using the `number` field.

In [ ]:
# Write the Solution

Exercise 7 ðŸ’»

Use the `$limit` stage to get the first 2 results from the previous pipeline.

In [ ]:
# Write the Solution

### Exercise 8 ðŸ’»

Retrieve all the `universities`, and add a new field called `foundation_year`, with value 2000. Use the `$addFields` stage.

In [ ]:
# Write the solution

### Exercise 9 ðŸ’»

Use the `$count` stage, with the `$unwind` stage, to get the number of students information in all `universities`.

In [ ]:
# Write the solution

### Exercise 10 ðŸ’»

Use the `$lookup` stage to get the `courses` information for the `USAL` university.

Output should be similar to:
```json
{
	"name" : "USAL",
	"courses" : [
		{
			"_id" : ObjectId("5b7d9ea5fbc9884f689cdbab"),
			"university" : "USAL",
			"name" : "Computer Science",
			"level" : "Excellent"
		},
		{
			"_id" : ObjectId("5b7d9ea5fbc9884f689cdbac"),
			"university" : "USAL",
			"name" : "Electronics",
			"level" : "Intermediate"
		},
		{
			"_id" : ObjectId("5b7d9ea5fbc9884f689cdbad"),
			"university" : "USAL",
			"name" : "Communication",
			"level" : "Excellent"
		}
	]
}
```

In [ ]:
# Write the solution

### Exercise 11 ðŸ’»

What is the total number of students that have ever belonged to each one of the universities?
Sort the result by number of students descending.

 Output should be similar to:
 ```json
{ "_id" : "USAL", "totalalumni" : 91568 }
{ "_id" : "UPSA", "totalalumni" : 22284 }
 ```

In [ ]:
# Write the solution